@model SWAT.Models.tblSWATWPquality

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tblSWATWPquality</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tblSWATWPoverview.wpname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tblSWATWPoverview.wpname)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATqualTreatedLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATqualTreatedLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATuserTreatedLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATuserTreatedLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATuserTreatmentMethodLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATuserTreatmentMethodLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATfaecalPathogensLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATfaecalPathogensLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATwaterTasteOdourLU1.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATwaterTasteOdourLU1.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATwaterTasteOdourLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATwaterTasteOdourLU.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.lkpSWATwaterTurbidityLU.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lkpSWATwaterTurbidityLU.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
