@model IEnumerable<SWAT.Models.tblSWATWAriskPrep>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremePrepLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremePrepLU1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremePrepLU2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremeRiskLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremeRiskLU1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremeRiskLU2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblSWATSurvey.ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremePrepLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremePrepLU1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremePrepLU2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremeRiskLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremeRiskLU1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremeRiskLU2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblSWATSurvey.ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
