@model IEnumerable<SWAT.Models.tblSWATWPoverview>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblSWATSurvey.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATwpaLoc.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaUseDom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaUseInst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wpaUseEc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblSWATSurvey.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATwpaLoc.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaUseDom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaUseInst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wpaUseEc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
