@model IEnumerable<SWAT.Models.tblSWATWAextremeEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremeEventsLU.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremeEventsLU1.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lkpSWATextremeEventsLU2.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblSWATSurvey.ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremeEventsLU.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremeEventsLU1.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lkpSWATextremeEventsLU2.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblSWATSurvey.ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
