@model SWAT.Models.tblSWATLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSWATLocation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpCountry.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpCountry.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpRegion.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpRegion.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSubnational.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSubnational.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
