@model SWAT.Models.tblSWATWAMonthlyQuantity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblSWATWAMonthlyQuantity</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU1.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU1.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU2.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU2.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU3.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU3.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU4.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU4.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU5.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU5.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU6.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU6.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU7.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU7.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU8.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU8.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU9.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU9.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU10.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU10.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lkpSWATwaterMonthLU11.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lkpSWATwaterMonthLU11.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSWATSurvey.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSWATSurvey.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
